@import url(https://fonts.googleapis.com/css?family=Nunito:200,200italic,300,300italic,regular,italic,600,600italic,700,700italic,800,800italic,900,900italic);

:root {
    --green: #f1a746;
    --black: #192a56;
    --light-color: #666;
    --box-shadow:0 .5rem 1.5rem rgba(0,0,0,.1)
}

* {
    font-family: 'Nunito', sans-serif;
    margin: 0; padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    outline: none; border: none;
    text-transform: capitalize;
    transition: all .2s linear;
}

html {
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-padding-top: 5.5rem;
    scroll-behavior: smooth;
}

/* Start Gloobl Style */
section {
    padding: 2rem 9%;
}

section:nth-child(even) {
    background: #eee;
}

.sub-heading {
    text-align: center;
    color: var(--green);
    font-size: 2rem;
    padding-top: 1rem;
}

.heading {
    text-align: center;
    color: var(--black);
    font-size: 3rem;
    padding-top: 2rem;
    padding-bottom: 2rem;
    text-transform: uppercase;
}

.btn {
    margin-top: 1rem;
    display: inline-block;
    font-size: 1.7rem;
    color: #fff;
    background: var(--black);
    border-radius: .5rem;
    cursor: pointer;
    padding: .8rem 3rem;
}

.btn:hover {
    background: var(--green);
    letter-spacing: .1rem;
}
/* End Gloobl Style */

/*Header Section Start*/
header {
    position: fixed;
    top: 0; left: 0; right: 0;
    background: #fff;
    padding: 1rem 7%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 1000;
    box-shadow: var(--box-shadow);
}

header .logo {
    color: var(--black);
    font-size: 2.5rem;
    font-weight: bolder;
}

header .logo i {
    color: var(--green);
}

header .navbar a {
    font-size: 1.3rem;
    border-radius: .5rem;
    padding: .4rem 1rem;
    color: var(--light-color);
}

header .navbar a.active,
header .navbar a:hover {
    color: #fff;
    background-color: var(--green);
}

header .icons i,
header .icons a {
    cursor: pointer;
    margin-left: .5rem;
    height: 4.5rem;
    line-height: 4.5rem;
    width: 4.5rem;
    text-align: center;
    font-size: 1.7rem;
    color: var(--black);
    border-radius: 50%;
    background: #eee;
}

header .icons i:hover,
header .icons a:hover {
    color: #fff;
    background-color: var(--green);
    transform: rotate(360deg);
}

header .icons #Showroom-bars {
    display: none;
}
/*Header Section Ends*/

/* Start Section sliders */
.sliders .slide-show,
.sliders .show {
    border-radius: 2rem;
    background-color: rgba(0, 0, 0, .7);
    position: fixed;
    align-items: center;
    flex-wrap: wrap;
    gap: 2rem;
    left: -101%;
    z-index: 1000;
    height: 70%; width: 80%;
    padding: 0 1rem;
    top: 10rem;
    display: flex;
    color: #fff;
}
.sliders .show {
    left: 10rem;
}

.sliders .slide-show .title-cont {
    flex: 1 1 35rem;
    padding-left: 2rem;
}

.sliders .slide-show .home-slider {
    border-radius: 2rem;
    flex: 1 1 40rem;
    border: .1rem solid rgba(0, 0, 0, .2);
    box-shadow: var(--box-shadow);
}

.sliders .slide-show .image img {
    width: 100%;
    height: 43rem;
}

.sliders .slide-show .title-cont .closing{
    padding-bottom: 12rem;
}

.sliders .slide-show .title-cont .closing .fas{
    font-size: 4rem;
    cursor: pointer;
}
.sliders .slide-show .title-cont .closing .fas:hover{
    color: #f1a746;
}

.sliders .slide-show .title-cont .title span {
    color: var(--green);
    font-size: 2.5rem;
}

.sliders .slide-show .title-cont .title h3 {
    color: rgb(253, 151, 16);
    font-size: 6rem;
}

.sliders .slide-show .title-cont .title p {
    color: #eee;
    font-size: 2rem;
    padding: .5rem 0;
    line-height: 1.5;
}
/* End Section sliders */

/* Start Search From */
#search-from {
    position: fixed;
    top: -110%; left: 0;
    z-index: 1004;
    height: 100%; width: 100%;
    background: rgba(0, 0, 0, .3);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 1rem;
}

#search-from.active {
    top: 0;
}

#search-from #search-box {
    width: 50rem;
    border-bottom: .1rem solid #fff;
    padding: 1rem 0;
    color: #fff;
    font-size: 3rem;
    text-transform: none;
    background: none;
}

#search-from #search-box::placeholder {
    color: #eee;
}

#search-from #search-box::-webkit-search-cancel-button {
    -webkit-appearance: none;
}

#search-from label {
    color: #fff;
    cursor: pointer;
    font-size: 3rem;
}

#search-from #close:hover,
#search-from label:hover {
    color: var(--green);
}

#search-from #close {
    position: absolute;
    color: #fff;
    cursor: pointer;
    top: 8rem; right: 5rem;
    font-size: 5rem;
}
/* End Search From */

/* Start Section Home */
.home .home-slider .slide {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 2rem;
    padding-top: 9rem;
}

.home .home-slider .slide .content {
    flex: 1 1 35rem;
}

.home .home-slider .slide .image {
    flex: 1 1 35rem;
}

.home .home-slider .slide .image img {
    width: 100%;
}

.home .home-slider .slide .content span {
    color: var(--green);
    font-size: 2rem;
}

.home .home-slider .slide .content h3 {
    color: var(--black);
    font-size: 4.5rem;
}

.home .home-slider .slide .content p {
    color: var(--light-color);
    font-size: 2rem;
    padding: .5rem 0;
    line-height: 1.5;
}

.swiper-pagination-bullet-active{
    background: var(--green);
}
/* End Section Home */

/* Start Section special  */
.special .box-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(26rem, 1fr));
    gap: 1.5rem;
}

.special .box-container .box {
    padding: 2.5rem;
    background: #fff;
    border-radius: .5rem;
    border: .1rem solid rgba(0, 0, 0, .2);
    box-shadow: var(--box-shadow);
    position: relative;
    
    text-align: center;
}

.special .box-container .box .fa-eye {
    position: absolute;
    top: 1.5rem;
    left: 1.5rem;
    background: #eee;
    border-radius: 50%;
    height: 5rem;
    width: 5rem;
    line-height: 5rem;
    font-size: 2rem;
    color: var(--black);
    cursor: pointer;
}

.special .box-container .box .fa-eye:hover {
    background: var(--green);
    color: #fff;
}



.special .box-container .box img {
    width: 100%;
    height: 14rem;
    margin: 1rem 0;
}

.special .box-container .box h3 {
    font-size: 2.5rem;
    color: var(--black);
}

.special .box-container .box .stars {
    padding: 1rem 0;
}

.special .box-container .box .stars i{
    font-size: 1.7rem;
    color: var(--green);
}

.special .box-container .box span {
    color: var(--green);
    font-weight: bolder;
    margin-right: 1rem;
    font-size: 2.5rem;
}
/* End Section special */

/* Start Section shirts  */
.shirts .row {
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;
    align-items: center;
} 

.shirts .row .image {
    flex: 1 1 35rem;
}

.shirts .row .image img {
    width: 100%;
}

.shirts .row .content {
    flex: 1 1 35rem
}

.shirts .row .content h3 {
    color: var(--black);
    font-size: 3rem;
    padding: .5rem 0;
}

.shirts .row .content p {
    color: var(--light-color);
    font-size: 1.5rem;
    padding: .5rem 0;
    line-height: 2;
}

.shirts .row .content .icons-container {
    display: flex;
    gap: 1rem;
    flex-wrap: wrap;
    padding: 1rem 0;
    margin-top: .5rem;
}

.shirts .row .content .icons-container .icons {
    background: #eee;
    border-radius: .5rem;
    border: .1rem solid rgba(0, 0, 0, .2);
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    flex: 1 1 10rem;
    padding: 1rem 1rem;
}

.shirts .row .content .icons-container .icons i {
    font-size: 2rem;
    color: var(--green);
}

.shirts .row .content .icons-container .icons span {
    font-size: 1.1rem;
    color: var(--black);
}
/* End Section shirts */

/* Start Section Menu  */

.Showroom .box-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
    gap: 1.5rem;
}

.Showroom .box-container .box {
    background: #fff;
    border: .1 solid rgba(0, 0, 0, .2);
    border-radius: .5rem;
    box-shadow: var(--box-shadow);
}

.Showroom .box-container .box .image {
    height: 25rem;
    width: 100%;
    padding: 1.5rem;
    overflow: hidden;
    position: relative;
}

.Showroom .box-container .box .image img {
    height: 100%;
    width: 100%;
    border-radius: .5rem;
    object-fit: cover;
}

.Showroom .box-container .box .image .fa-heart {
    position: absolute;
    top: 2.5rem; right: 2.5rem;
    height: 5rem;
    width: 5rem;
    line-height: 5rem;
    text-align: center;
    font-size: 2rem;
    background: #fff;
    border-radius: 50%;
    color: var(--black);
}

.Showroom .box-container .box .image .fa-heart:hover {
    background-color: var(--green);
    color: #fff;
}

.Showroom .box-container .box .content {
    padding: 2rem;
    padding-top: 0;
}

.Showroom .box-container .box .content .stars {
    padding-bottom: 1rem;
}

.Showroom .box-container .box .content .stars i {
    font-size: 1.7rem;
    color: var(--green);
}

.Showroom .box-container .box .content h3 {
    color: var(--black);
    font-size: 2.5rem;
}

.Showroom .box-container .box .content p {
    color: var(--light-color);
    font-size: 1.6rem;
    padding: .5rem 0;
    line-height: 1.5;
}

.Showroom .box-container .box .content .price {
    color: var(--green);
    font-size: 2.5rem;
    margin-left: 1rem;
}
/* End Section Menu */

/* Start Section Review  */
.review .slide {
    padding: 2rem;
    box-shadow: var(--box-shadow);
    border-radius: .5rem;
    border: .1rem solid rgba(0, 0, 0, .2);
    position: relative;
}

.review .slide .fa-quote-right {
    position: absolute;
    top: 2rem; right: 2rem;
    font-size: 3rem;
    color: #ccc;
}

.review .slide .user {
    display: flex;
    gap: 1.5rem;
    align-items: center;
    padding-bottom: 1.5rem;
}

.review .slide .user img {
    height: 7rem;
    width: 7rem;
    border-radius: 50%;
    object-fit: cover;
}

.review .slide .user h3 {
    color: var(--black);
    font-size: 2rem;
    padding-bottom: .5rem;
}

.review .slide .user i {
    color: var(--green);
    font-size: 1.3rem;
}

.review .slide .user p {
    color: var(--light-color);
    font-size: 1.5rem;
    line-height: 1.8;
}
/* End Section Review */

/* Start Section Order */
.order form {
    max-width: 90rem;
    border-radius: .5rem;
    box-shadow: var(--box-shadow);
    border: .1 solid rgba(0, 0, 0, .2);
    padding: 1.5rem;
    margin: 0 auto;
}

.order form .input-box {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.order form .input-box .input {
    width: 49%;
}

.order form .input-box .input span {
    display: block;
    padding: .5rem 0;
    font-size: 1.5rem;
    color: var(--light-color);
}

.order form .input-box .input input,
.order form .input-box .input textarea {
    background: rgb(255, 255, 255);
    border-radius: .5rem;
    padding: 1rem;
    font-size: 1.6rem;
    color: var(--black);
    text-transform: none;
    margin-bottom: 1rem;
    width: 100%;
    box-shadow: var(--box-shadow);
}

.order form .input-box .input input:focus,
.order form .input-box .input textarea:focus {
    border: .1rem solid var(--green);
}

.order form .input-box .input textarea {
    height: 20rem;
    resize: none;
}

.order form .btn {
    margin-top: 0;
}

/* End Section Order */

/* Start Section Footer */
.footer .box-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
    gap: 1.5rem;
}

.footer .box-container .box h3 {
    padding: .5rem 0;
    font-size: 2.5rem;
    color: var(--black);
}

.footer .box-container .box a {
    display: block;
    padding: .5rem 0;
    font-size: 1.5rem;
    color: var(--light-color);
}

.footer .box-container .box a:hover {
    color: var(--green);
    text-decoration: underline;
}

.footer .credit {
    text-align: center;
    border-top: .1rem solid rgba(0, 0, 0, .1);
    font-size: 2rem;
    color: var(--black);
    padding: .5rem;
    padding-top: 1.5rem;
    margin-top: 1.5rem;
}

.footer .credit span {
    color: var(--green);
}
/*End Section Footer */

/* media queries */

@media (max-width: 991px) {
    html {
        font-size: 55%;
    }

    header {
        padding: 1rem 2rem;
    }

    section {
        padding: 2rem;
    }

        /* Start Section sliders */
.sliders .show {
    left: 8rem;
    height: 80%;
    top: 10rem;
}

.sliders .slide-show .title-cont .title span {
    font-size: 2rem;
}

.sliders .slide-show .title-cont .title h3 {
    font-size: 4rem;
}

.sliders .slide-show .title-cont .title p {
    font-size: 1.5rem;
}
/* End Section sliders */


}

@media (max-width: 768px) {
    header .icons #Showroom-bars {
        display: inline-block;
    }

    header .navbar {
        position: absolute;
        top: 100%; left: 0; right: 0;
        background: #fff;
        border-top: .1rem solid rgba(0, 0, 0, .2);
        border-bottom: .1rem solid rgba(0, 0, 0, .2);
        padding: 1rem;
        clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
    }

    header .navbar.active {
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
    }

    header .navbar a {
        display: block;
        padding: 1.5rem;
        margin: 1rem;
        font-size: 2rem;
        background: #eee;
    }

    #search-from #search-box{
        width: 90%;
        margin: 0 1rem;
    }

    .home .home-slider .slide .content h3 {
        font-size: 5rem;
    }

    /* Start Section sliders */
    .sliders .slide-show .title-cont .closing .fas{
    font-size: 2rem;
}

.sliders .slide-show .image img {
    height: 25rem;
}

.sliders .slide-show .title-cont .closing{
    padding: 1rem 0 0 90%;
}
/* End Section sliders */

}
@media (max-width: 450px) {
    html {
        font-size: 50%;
    }

    .special .box-container .box img {
        height: auto;
        width: 100%;
    }

    .order form .input-box .input {
        width: 100%;
    }

    /* Start Section sliders */
.sliders .show {
    left: 5rem;
}

.sliders .slide-show .image img {
    height: 30rem;
}
/* End Section sliders */
}